# Print is use for answer

In [1]:
a = 10
b = 20 
a
b

20

In [3]:
a = 10 
b = 20 
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print(10,20,'python')

10
10 20
10 20 python

In [9]:
num1 = 10
num2 = 20 
add = num1 + num2
print('The addition of',num1, 'and' , num2, 'is =', add )

The addition of 10 and 20 is = 30

In [15]:
name = 'Python'
age = 20
city = 'hyderabad'
print('hello my name is',name, 'and i am',age,'years old from',city)

hello my name is Python and i am 20 years old from hyderabad

In [17]:
num1 = 10 
num2 = 20 
add = num1 +num2
print('The addition of {} and {} is = {}' .format(num1,num2,add))

The addition of 10 and 20 is = 30

In [26]:
name = 'Python'
age = 20
city = 'hyd'
print('hello my name is {}, and i am {} years old from {}' .format(name,age,city))

hello my name is Python, and i am 20 years old from hyd

In [30]:
num1 = 100
num2 = 25
num3 = 333
avg = (num1 + num2 + num3)/3
avg1 = round((num1 + num2 + num3)/3,4)
print('The average of {} , {} and {} is {} or {} '.format(num1,num2,num3,avg,avg1))

The average of 100 , 25 and 333 is 152.66666666666666 or 152.6667

In [32]:
num = 10 
num2 = 20 
add = num1 + num2
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 100 and 20 is = 120

In [34]:
name = 'Python'
age = 20
city = 'hyd'
print(f'hello my name is {name}, and i am {age} years old from {city}')

hello my name is Python, and i am 20 years old from hyd

In [42]:
num1 = 10 
num2 = 20 
add = num1 + num2
print('The addition of',num1,'and',num2, 'is =',add)
print('The addition of {} and {} is = {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 10 and 20 is = 30
The addition of 10 and 20 is = 30
The addition of 10 and 20 is = 30

In [50]:
print('hello',end=' ')
print('world good day')

hello world good day

In [52]:
print('hello','hey','hai',sep='-->')

hello-->hey-->hai

In [54]:
print(3,'.')

3 .

In [56]:
print(3,'.',sep='')

3.

In [62]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.

In [64]:
type(np.nan)

NameError: name 'np' is not defined