# Function

In [2]:
def nit():
    print('Hello World!')

In [4]:
nit()

Hello World!

In [6]:
def nit():
    
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
    
    
nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [8]:
def nit():
    
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
    
    
nit()
nit()
nit()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio

In [10]:
def nit():
    print('7pm team very very very very very smart' )
    print("7pm team never upload the task in linkedin & google classroom")
    print("7pm team you need to showcase talent to the world by create linkedin portfolio")
nit()


def placment():
    print('7pm batch team need to apply jobs as soon as possible')
    print('if you are very hard work i will share all previous watch ans apply')
placment()

7pm team very very very very very smart
7pm team never upload the task in linkedin & google classroom
7pm team you need to showcase talent to the world by create linkedin portfolio
7pm batch team need to apply jobs as soon as possible
if you are very hard work i will share all previous watch ans apply

In [12]:
def add(x,y):
    c=x+y
    print(c)

add(5,6)

11

In [14]:
def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

9

In [16]:
def greet():
    print('hello')
    print('good noon')
greet()

def add(x,y):
    c=x+y
    return c

result = add(5,4)
print(result)

hello
good noon
9

In [18]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

add_sub(4,5)

(9, -1)

In [22]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [30]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result1,result2 = add_sub(5,4)

print(result1,result2)
print(type(result1))

9 1
<class 'int'>

# Functional Argument

### Formal Argument
### Actual Argument

In [5]:
def add(a,b): # a&b called formal argument
    c = a+b
    print(c)

add(5,6) # 5&6 are actual argument

11

## Actual argument are of 4 types
#### 1.Positioanl Argument
#### 2.Keyword Argument
#### 3.Default Argument
#### 4.variable length Argument

In [12]:
def person(name,age):
    print(name)
    print(age)

person('Hello',22)

Hello
22

In [14]:
def person(name,age):
    print(name)
    print(age)

person('Hello',12,12)

TypeError: person() takes 2 positional arguments but 3 were given

In [16]:
def person(name,age):
    print(name)
    print(age)

person(22,'Hello')

22
Hello

In [18]:
def person(name,age):
    print(name)
    print(age-5)
person(22,'Hello')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

# Keyword Argument

In [21]:
def person(name,age,city):
    print(name)
    print(age-5)
    print(city)

person(age = 22,name ="Hello",city="Hyd")

Hello
17
Hyd

# Default Argument

In [24]:
def person(name,age):
    print(name)
    print(age)

person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [28]:
def person(name,age =22):
    print(name)
    print(age)

person('nit',30)

nit
30

In [30]:
def person(name,age=18):
    print(name)
    print(age)
    
person('nit',40)

nit
40

# Variable Length

In [39]:
def sum(a,b=10):
    c=a+b
    print(c)
sum(5)

15

In [41]:
def sum(a,b):
    c=a+b
    print(c)

sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [45]:
def sum(a,*b):
    #c=a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [51]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8)

26

# Kwargs(Keyword Arg + Variable length)

In [54]:
def person(name,*data):
    print(name)
    print(data)
person('ALEX',36,'JOHN',35234)

ALEX
(36, 'JOHN', 35234)

In [58]:
def person(name,**data):
    print(name)
    print(data)
person('ALEX', age = 36, home_place ='southcity', mob =987767)

ALEX
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [60]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [62]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767, salary = 100000, comp = 'genpact')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'salary': 100000, 'comp': 'genpact'}