Varible_name = value

In [3]:
# EX-1 Integer Variable
age = 25
print(age)

25

In [5]:
# Ex-2 String Variable
name = 'Alice'
print(name)

Alice

In [7]:
# Ex-3 Float variable 
price = 10.89
print(price)

10.89

In [9]:
# Ex- Boolean variable 
is_active = True
print(is_active)

True

1.Storing & Printing value

In [20]:
x = 10 
print(x)

10

2.Using variables in expressions

In [13]:
a=5
b=3
result = a+ b
print(result)

8

3.Changing value of a variable

In [18]:
score = 50 
print(score)

score = 20 
print(score)

50
20

4.Concatenate Strings

In [22]:
first_name = 'John'
last_name  = 'Doe'

full_name = first_name + " " + last_name
print(full_name)

John Doe

5. using Variables in Calculation

In [29]:
length = 5 
width = 10 

#area of rectangle 

area = length * width
print(area)

50

Reassigning Value to Variables

In [31]:
x = 10
print(x)

10

In [33]:
x = 20 
print(x)

20